@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Single+Day&display=swap');

body{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
background-image: url('https://i.pinimg.com/736x/b1/82/22/b18222b355c7afa6ac6d8343211b575a.jpg');
    background-repeat: no-repeat;
    background-size: 1628px 730px;
    padding: 0;
    margin: 0;
}

.main-container{
    
    background-color: #fff;
    border-radius: 10px;
    height: 600px;
    width: 500px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.2);
    
}

.form-container{
    display: flex;
    flex-direction: column;
    
}

.header-container{
    background-color: #f48fb1;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main-container h2{
    margin: 99px;
    padding-top: 30px;
    
}

input{
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-radius: 10px;
}

input:focus{
    background-color: #fff;
}

input::marker{
    background-color: #fff;
}

input:hover{
    background-color: #eeeeee;
}

.first-line:hover{
    background-color: #eeeeee;
}

.first-line {
    display: flex;
    border: 0;
    width: 290px;
    height: 45px;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.2);
    margin: 90px auto;
    background-color: #fff;
}

.first-line i{
    margin: auto;
}

.second-line {
    display: flex;
    border: 0;
    width: 290px;
    height: 45px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.second-line i{
    margin: auto;
}

.btn{
    width: 100px;
    height: 50px;
    margin: 100px auto;
    background-color: #f48fb1;
    border: 1px solid black;
}




